*{
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}


hr{
    width: 50%;
}

h1,h2{
    text-align: center;
    margin: 0.5rem;
}

h3{
    font-size: 3rem;
    color: white;
    background-color: black;
    padding: 0 1rem 0 1rem;
}

button{
    font-size: 2rem;
    padding: 0.5rem;
    background-color: deeppink;
    color: white;
}

.aufgabe1,.inputfieldsSection,.buttonsection, .resultsection{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2rem;
}

.buttonsection button{
    margin: 0.5rem;
    height: 4rem;
    width: 4rem;
}
